.motionBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #FF6404;
    z-index: 999;
}

.motionText {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.motionText h1 {
    color: white;
    font-size: clamp(40px, 10vw, 200px);
}