body{
    background-color: black;
}

.MainPage {
    display: flex;
    flex-direction: column;
}

.MainPageAbout{
    background-color: black;
    z-index: 10;
}

@media (max-width: 1025px) {
    .MainPageAbout {
        height: 100%;
    }
}