.AboutSection {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    overflow: hidden;
    margin-bottom: 50px;
    min-height: 100dvh;
}

.AboutSectionMainText h1 {
    font-size: 15px;
}

.AboutSectionMainText h1 span {
    color: #FF6404;
}

.AboutSectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    margin-left: 30px;
}

.AboutSectionLeftList {
    display: flex;
    justify-content: space-between;
}

.AboutSectionLeftList p {
    font-size: 50px;
    border-bottom: 3px solid #FF6404;
    color: #FF6404;
}

.AboutSectionLeftText{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.AboutSectionLeftText p {
    font-size: 25px;
    color: white;
    font-family: 'Open Sans';
}

.AboutSectionMainText h1 {
    font-size: clamp(4.375rem, 2.321rem + 10.268vw, 18.75rem);
    white-space: nowrap;
    color: white;
    text-align: center;
}

.AboutSectionMainText h1 span {
    color: #FF6404;
}

.AboutSectionRight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.AboutSectionRightImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AboutSectionRightImage img{
    width: clamp(12.5rem, 5.357rem + 35.714vw, 62.5rem);
    height: auto;
}


@media (min-width: 2560px) {
    .AboutSection {
        height: 100%;
    }

    .AboutSectionLeft {
        justify-content: space-evenly;
    }

    .AboutSectionLeftList p {
        font-size: 80px;
    }

    .AboutSectionLeftText p {
        font-size: 40px;
    }
}

@media (min-width: 1920px) {
    .AboutSection {
        height: 100%;
    }
    
    .AboutSectionLeft {
        justify-content: space-around;
    }
}

@media (max-width: 1440px) {
    .AboutSectionLeft {
        justify-content: space-around;
        margin-left: 30px;
    }

    .AboutSectionLeftList p {
        font-size: 40px;
    }
}

@media (max-width: 1024px) {
    .MainPageAbout {
        display: flex;
        align-items: center;
        height: 70vh;
    }

    .AboutSectionLeft {
        justify-content: space-evenly;
        margin-left: 0;
    }

    .AboutSectionLeftList p {
        font-size: 30px;
    }

    .AboutSectionLeftText p {
        font-size: 15px;
    }

    .HeroSectionText {
        padding: 0;
    }
}


@media (max-width: 1025px) {

    .MainPageAbout {
        height: 100%;
    }
    .AboutSection {
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .AboutSectionLeft {
        order: 2;
    }

    .AboutSectionLeft {
        width: 100%;
    }

    .AboutSectionLeftText {
        flex-direction: row;
    }

    .AboutSectionLeftList {
        justify-content: space-evenly;
    }

    .AboutSectionLeftList p {
        font-size: clamp(1.25rem, 0.966rem + 1.42vw, 1.875rem);
    }

    .AboutSectionLeftText p {
        padding: 15px;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .AboutSectionLeft{
        margin: 0;
    }
    .AboutSectionLeftText{
        flex-direction: column;
        margin: 0 10px;
    }

    .AboutSectionRight {
        width: 100%;
    }
}
