body {
   background-color: #FF6404; 
}

.WorksPage {
    min-height: 100vh;
}

.WorksPageMain {
    display: flex;
    gap: 5%;
    padding: 0 30px;
    margin-bottom: 20px;
}

.WorksPageLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 95%;
}

.WorksPageRight {
    display: flex;
    align-items: center;
    flex: 1;
}

.WorksPageMainText h1 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 160px;
}

.WorksPageMainText span {
    color: white;
}

.WorksPageTable {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 15px;
}

.WorksPageTableCategories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.WorksPageTableCategories h3 {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin: 0;
    padding: 0 10px;
    transition: scale 0.3s;
}

.active-category {
    position: relative;
    padding: 5px;
    background: #FF6404;
    border: 2px solid #FF6404;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: fit-content;
}

.active-category h3 {
    border: 3px solid #FF6404;
    border-radius: 10px;
    background: black;
}

.WorksPageTableCategories h3:hover:not(.active-category){
    scale: 1.03;
    margin: 0;
}

.WorkPageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WorkPageInfo h1 {
    color: #FF6404;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
}

.WorkPageInfo p {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans';
    text-align: center;
    margin: 0 10px;
}

.WorkPageInfoTechnologies{
    color: #FF6404;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.WorkPageInfoButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.WorkPageInfoButtons button {
    color: white;
    font-size: 40px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    background: #FF6404;
    border: none;
    border-radius: 15px;
    width: 30%;
    transition: scale 0.3s;
}

.WorkPageInfoButtons button:hover {
    scale: 1.1;
}

.WorksPageBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    border-radius: 15px;
    height: 100%;
}

.WorksPageBoardImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WorksPageBoardImage img {
    width: 80%;
    border-radius: 20px;
}

.WorksPageBoardButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.WorksPageBoardButtons p {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6404;
    border: none;
    border-radius: 15px;
    width: 30%;
    height: 60px;
    transition: scale 0.3s;
    margin: 0;
}

i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.WorksPageBoardButtons p:hover {
    scale: 1.1;
}

@media (min-width: 2560px) {
    .WorksPageMainText h1 {
        font-size: 300px;
    }

    .WorksPageTableCategories {
        font-size: 50px;
    }

    .WorkPageInfo h1 {
        font-size: 150px;
    }
    .WorkPageInfo p {
        font-size: 35px;
    }
    
    .WorkPageInfoTechnologies {
        font-size: 50px;
    }

    .WorksPageBoardImage {
        height: 60%;
    }

    .WorkPageInfoButtons button {
        font-size: 80px;
    }

    .WorksPageBoardButtons p {
        height: 100px;
    }
    i {
        border-width: 0 10px 10px 0;
        padding: 25px;
    }
}

@media (max-width: 1920px) {
    .WorksPageMainText h1 {
        font-size: 200px;
    }
}

@media (max-width: 1440px) {

    .WorksPageMainText h1 {
        font-size: 150px;
    }

    .WorkPageInfo h1 {
        font-size: 90px;
    }

    .WorkPageInfoTechnologies {
        font-size: 25px;
    }

    .WorkPageInfo p {
        font-size: 18px;
    }

    .WorksPageBoardImage {
        height: 60%;
    }

    .WorksPageTable {
        height: auto;
    }
}

@media (max-width: 1024px) {
    .WorksPage {
        height: 100vh;
    }
    .WorksPageMain {
        display: block;
        height: 100%;
    }

    .WorksPageBoardImage {
        margin: 50px 0;
    }

    .WorksPageLeft {
        height: auto;
    }

    .WorksPageRight {
        height: auto;
    }

    .WorksPageBoard {
        margin: 20px 0;
        height: auto;
    }

    .WorksPageBoardButtons {
        margin: 50px;
    }

    .WorksPageMainText h1 {
        font-size: clamp(4.375rem, 1.818rem + 12.784vw, 10rem);
    }

    .WorksPageTableCategories {
        font-size: 20px;
    }

    .WorkPageInfo h1 {
        font-size: 60px;   
    }

    .WorkPageInfo p {
        font-size: 15px;
    }

    .WorkPageInfoTechnologies {
        font-size: 20px;
    }

    .WorkPageInfoButtons button {
        font-size: 30px;
    }

    .WorksPageBoardButtons p {
        height: 40px;
    }
}

@media (max-width: 768px) {

    .WorkPageInfo h1 {
        font-size: 60px;
    }

    .WorkPageInfo p {
        font-size: 13px;
    }

    .WorksPageBoardImage {
        height: 60%;
    }

    .WorksPageRight {
        height: 60vh;
    } 

}

@media (min-width: 450px) and (max-width: 1023px) {
    .WorksPage {
        height: 100vh;
    }
    .WorksPageRight{
        height: auto;
    }
    .WorksPageBoard {
        height: auto;
    }
}


@media (min-width: 320px) and (max-width: 450px) {
    .WorksPage{
        height: 100vh;
    }

    .WorksPageTableCategories {
        font-size: clamp(0.938rem, -0.015rem + 4.762vw, 1.25rem);
    }

    .WorkPageInfo h1 {
        font-size: clamp(1.875rem, -1.935rem + 19.048vw, 3.125rem);
    }

    .active-category{
        border: 5px solid rgb(255, 100, 4) !important;
        padding: 0;
    }

    .active-category h3{
        padding: 0 5px;
    }

    .WorkPageInfoTechnologies {
        font-size: clamp(0.688rem, -0.074rem + 3.81vw, 0.938rem);
    }

    .WorkPageInfoButtons button {
        font-size: clamp(1.25rem, -0.655rem + 9.524vw, 1.875rem);
    }

    .WorksPageBoard,
    .WorksPageRight,
    .WorksPageBoardImage {
        height: auto;
    }
}
